<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpc.videoshow.dao.VideoTypeMapper">
    <resultMap id="BaseResultMap" type="com.zpc.videoshow.pojo.VideoType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type_name
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectList" resultMap="BaseResultMap" parameterType="com.zpc.videoshow.pojo.VideoType">
        select
        <include refid="Base_Column_List"/>
        from video_type
        where
        1=1
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="typeName != null">
            and type_name = #{typeName,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zpc.videoshow.pojo.VideoType">
    insert into video_type (id, type_name)
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zpc.videoshow.pojo.VideoType">
        insert into video_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zpc.videoshow.pojo.VideoType">
        update video_type
        <set>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zpc.videoshow.pojo.VideoType">
    update video_type
    set type_name = #{typeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>